<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hcmus.mobilappsocialnetworkingimage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <queries>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pgram"
        android:label="PGram"
        android:roundIcon="@mipmap/ic_launcher_pgram_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobilAppSocialNetworkingImage"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.forgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.navigationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.editProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.registerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.loginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.shareActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nextActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hcmus.mobilappsocialnetworkingimage.photoEditor.EditImageActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->

            <intent-filter
                android:label="@string/app_intent_name"
                android:scheme="file"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="action_nextgen_edit" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>