<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcmus.mobilappsocialnetworkingimage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pgram"
        android:label="PGram"
        android:roundIcon="@mipmap/ic_launcher_pgram_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobilAppSocialNetworkingImage">
        <activity
            android:name=".activity.forgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.navigationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.editProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.registerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.loginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.shareActivity"
            android:exported="false" />
        <activity
            android:name=".activity.nextActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>